.container {
    margin-top: 20px;

    ul {
        h2 {
            font-size: 36px;
            font-weight: 700;
            .transition-fade;
        }

        .synopsis {
            font-size: 24px;
            font-weight: 300;
            .transition-fade;
        }

        span {
            font-style: italic;
            color: @theme-fade;
        }

        li {
            &:hover {
                color: @theme-three;
            }
        }
    }

    h2 {
        color: @theme-three;
        font-size: 36px;
        font-weight: 700;
    }

    p {
        font-size: 24px;
        font-weight: 300;
    }

    span {
        font-style: italic;
        color: @theme-fade;
    }

    textarea {
        width: 100%;
    }
}
